@import 'color.less';

van-card {
  flex: 1;
}

.mk-card_item {

  &.van-card {
    // padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #fff !important;
  }

  .van-stepper__input {
    color: #f44;
    font-weight: bold;
  }

  .mk-card_img {
    border-radius: 5px;
  }

  .mk-card_title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    overflow: hidden;
  }

  .mk-card_desc {
    padding: 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    text {
      padding-right: 15px;
      color: #7d7e80;
    }
  }

  .mk-card_item_tocar {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: @rootColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mk-card_item_stepper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;

    text {
      font-size: 10px;
      padding-right: 5px;
      color: #999;
    }
  }


}

.van-swipe-cell__left,
.van-swipe-cell__right {
  width: 65px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #db3124;
}

.collect-right_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.sortField-tab {
  background-color: #fff;
}

.sortField-tab .van-col-item .van-col {
  position: relative;
  font-size: 14px;
  color: #7d7e80;
  text-align: center;
  padding: 10px 0;
}

.sortField-tab .van-col-item .van-col::after,
.sortField-tab .van-col-item .van-col:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: @rootColor transparent transparent transparent;
  top: 20px;
  right: 16px;
  color: @rootColor;
  display: none;
}

.sortField-tab .van-col-item .van-col::before {
  border-color: transparent transparent @rootColor transparent;
  top: 15px;
}

.sortField-tab .van-col-item_active .van-col {
  color: @rootColor;
}

.sortField-tab .van-col-item_active .van-col::after {
  border-color: @rootColor transparent transparent transparent;
  display: block;
}

.sortField-tab .van-col-item_active .van-col::before {
  border-color: transparent transparent @rootColor transparent;
  display: block;
}

.sortField-tab .van-col-item_active_desc1 .van-col::after {
  display: none;
}

.sortField-tab .van-col-item_active_desc0 .van-col::before {
  display: none;
}


.mk-card_item-list {

  .van-col {
    padding:  10px;
    background-color: #fff;
    border: #edebec 5px solid;
    border-bottom: 0;
    border-right: 0;
    
    .van-cell {
      padding: 0;
      width: auto;
      border-radius: 10px;

      &:after {
        display: none;
      }
    }
  }

  .van-card {
    border-radius: 0;
    padding: 0;

    .van-card__header {
      display: block;
    }

    .van-card__thumb {
      width: 100%;
      height: 160px;

      image {
        border-radius: 0;
        display: block;
      }
    }

    .mk-card_title {
      height: 45px;
      overflow: hidden;
    }

    .mk-card_desc {

      text {
        padding-right: 5px;
      }
    }
  }


}
